/recruiter.api/.vs/recruiter.api/v15/Server/sqlite3/db.lock
/recruiter.api/.vs/recruiter.api/v15/Server/sqlite3/storage.ide
/recruiter.api/.vs/recruiter.api/v15/Server/sqlite3/storage.ide-shm
/recruiter.api/.vs/recruiter.api/v15/Server/sqlite3/storage.ide-wal
*.cache
