<nav class="nav-extended light-blue darken-4">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo orange-text"><img src="" alt="Rich's Recruiter 2019"></a>
    <ul class="right">
      <li style="padding-right: 10px;"><a class="waves-effect waves-light btn red" href="mailto:reodice@lsnj.org">Help!</a></li>
    </ul>
    <div class="col s12">
      <ul class="tabs light-blue darken-4 white-text">
        <li class="tab"><a class="active waves-effect waves-light white-text" href="#candidate">Candidates</a></li>
        <li class="tab"><a class="waves-effect waves-light white-text" href="#position">Positions</a></li>
        <li class="tab"><a class="waves-effect waves-light white-text" href="#question">Questions</a></li>
        <li class="tab"><a class="waves-effect waves-light white-text" href="#review">Reviews</a></li>
        <li class="tab"><a class="waves-effect waves-light white-text" href="#reviewer">Reviewers</a></li>
        <li class="tab"><a class="waves-effect waves-light white-text" href="#report">Reports</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row" id="tabs">
  <div id="candidate" class="col s12">
    <app-candidate></app-candidate>
  </div>
  <div id="position" class="col s12">
    <app-position></app-position>
  </div>
  <div id="review" class="col s12">
    <app-review></app-review>
  </div>
  <div id="reviewer" class="col s12">
    <app-reviewer></app-reviewer>
  </div>
  <div id="question" class="col s12">
    <app-question></app-question>
  </div>
  <div id="report" class="col s12">
    <app-report></app-report>
  </div>
</div>
